# Useless files
**/*.log
**/*.log.*
test*.js
db/*.db
tmp/*
library/**.epub
library/**/*.epub

# Dependency directories
package-lock.json
node_modules/

# Environments
.env*

# Eslint cache
.eslintcache

# Mac OS files
.DS_Store
